.search-wrapper {
    width: 400px;
    border: 2px solid #ccc;
    box-sizing: border-box;
}

.search-wrapper .search-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px 0;
    border-bottom: 2px solid #ccc;
}

.search-wrapper .search-header h1 {
    font-size: 30px;
    font-weight: bold;
}

.search-wrapper .search-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.search-main .search-form, .search-main .search-result {

    border: 2px solid #ccc;
}

.search-main .search-form {
    display: flex;
    width: 100%;
    margin: 0 0 20px 0;
}

.search-main .search-form input {
    flex-grow: 1;
    border: 0;
    padding: 10px;
}

.search-form button {
    background: inherit;
    border: none;
    color: #ccc;
    font-weight: bold;
}

.search-main .search-result {
    width: 100%;
    min-height: 222px;
    box-sizing: border-box;
}

.search-main .search-result .search-tab {
    display: flex;
    border-bottom: 2px solid #ccc;
}

.search-main .search-result .search-tab button {
    flex-grow: 1;
}

.search-tab > button {
    padding: 10px 20px;
    border: none;
    font-size: 20px;
    background: inherit;
}

.search-tab > button.active {
    background: skyblue;
}

.search-result .search-list {

}

.search-result .search-list li {
    padding: 20px;
}

.search-result .search-list li {
    border-bottom: 2px solid #ccc;
}

.search-result .search-list li:nth-last-child(1) {
    border: none;
}